/NetBeansProjects/El_Scooter/target/
/NetBeansProjects/el_scooter2/target/
/NetBeansProjects/scooter/nbproject/private/
/NetBeansProjects/scooter/build/
/NetBeansProjects/empleo/nbproject/private/
/NetBeansProjects/empleo/build/
/NetBeansProjects/Hoteles/nbproject/private/
/NetBeansProjects/Hoteles/build/
/NetBeansProjects/Hotel/nbproject/private/
/NetBeansProjects/Hotel/build/
